---
import Layout from '../layouts/AboutPage.astro';
---

<Layout
	title="About"
	description="Information about Shay Paris"
	heroImage="/krog.jpg"
>
	<section>
		<h3>Working Together</h3>
		<p>
			I've helped businesses of all sizes build lasting solutions for complex problems. Roles where I've excelled include:
		</p>
		<div class="container">
			<ul class="timeline">
				<li>
					<img src="/logos/lawmatics.png" alt="Logo for Lawmatics, a company that builds automation & client relationship software for law firms" class="timeline-icon" />
					<h5><u>Lawmatics</u></h5>
					<em>Deliverability Engineer, Postmaster</em>
				</li>
				<li>
					<img src="/logos/klaviyo.png" alt="Logo for Klaviyo" class="timeline-icon" />
					<h5><u>Klaviyo</u></h5>
					<em>Senior Deliverability & Compliance Specialist</em>
				</li>
				<li>
					<img src="/logos/messagegears.png" alt="Logo for MessageGears" class="timeline-icon" />
					<h5><u>MessageGears</u></h5>
					<em>Deliverability Engineer</em>
				</li>
				<li>
					<img src="/logos/mailchimp.png" alt="Logo for Mailchimp" class="timeline-icon" />
					<h5><u>Mailchimp</u></h5>
					<em>Compliance Analyst</em>
				</li>
			</ul>
		</div><br>
		<p>In professional environments, I value:
			<ul>
				<li>Treating everyone with respect and consideration regardless of role or experience.</li>
				<li>Logical and ethical decision-making, ideally based on data.</li>
				<li>Transparent and responsive communication.</li>
				<li>Fostering trust and safety in online spaces and/or products.</li>
				<li>Owning our mistakes and learning from them.</li>
			</ul>		
		</p>
	</section><br><br>
<!-- Wondering if this might be better as a separate page, e.g. "Wanna geek out about hobbies together?"
	<section>
		<h3>Extracurriculars</h3>
		<p>
			 I'm one of those annoying people with a million hobbies. Here are a few:
			<ul>
				<li><b>Tinkering</b>:</li>
					<ul>
						<li>I enjoy understanding about how the world around me works. I run a dedicated homelab, love DIY electronics, and restore old machinery when time permits.</li>
					</ul>
				<li><b>Reading</b>:</li>
					<ul>
						<li>I read anything I can get my hands on. Nonfiction, fantasy, comic books, magical realism, YA, academic research, sci-fi, philosophy, detective novels, romance, technical manuals, literary fiction. I genuinely like it all.</li>
					</ul>
				<li><b>String instruments</b>:</li>
					<ul>
						<li>I picked up a classical guitar as a kid and it's really escalated since then. Luthier is definitely on my shortlist of dream alternative careers.</li>
					</ul>
				<li><b>Bikes</b>:</li>
				<ul>
					<li></li>
				</ul>
				<li><b>Gardening</b>:</li>
				<ul>
					<li></li>
				</ul>
			</ul>
<br>			
		</p>
		<p>
			I also spend a lot of time wrangling two very rascally dogs:
		</p>
		<br><br>
		<p class="img-container" style="justify-content: center;">
			<img src="charlie.png" alt="Charlie, a tan dog with black facial markings and a happy/curious expression" />
			<img src="mae.png" alt="Mae, an upside down brindle dog with pink spots on her muzzle and a goofy expression" />
		</p>
	</section>
-->
</Layout>
